.topnav a {
    color: black;
}

img {
    display: block;
    max-width: 20%;
    height: auto;
}

p{
    text-align: center;
    font-size:70%;
}

.intro a{
    color: black;
    text-align: center;
    display: block;
    font-size: 70%;
    text-decoration: none;
}

.footer{
    height: 15vh;
}
.footer a{
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 70%;
    
}
